# Data Science Tools and Ecosystem

This Notebook summarizes different Data Science tools and ecosystems.

Some of popular languages used by Data Scientists are:  
1.Python  
2.R  
3.Java  
4.Scala  
5.SQL  
6.Julia

Some of the commonly used libraries by Data Scientists include:  
1.Pandas  
2.NumPy  
3.TensorFlow  
4.Keras  
5.SciKit-learn  
6.Matplotlib

| Data Science Tools |
|:--|
| Jupyter Notebook |
| RStudio |
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

**Objectives:**

- Introduction
- List of popular languages used in Data Science
- List of common libraries used in Data Science
- Examples of evaluating arithmetic expressions in Python

## Author
Archana K M